[mixnode]
location = 'Your location,  e.g.: London, UK'
layer = 3
announce_address = 'your-public-ipv4:1789'
incentives_address = 'your ethereum wallet address'

# do not change any of below unless you know what you're doing
version = '0.10.0'
id = 'mixer'
validator_rest_url = 'http://testnet-finney-validator.nymtech.net:1317'
metrics_server_url = 'http://testnet-metrics.nymtech.net:8080'
mixnet_contract_address = 'hal1tndcaqxkpc5ce9qee5ggqf430mr2z3pev9mf39'
nym_root_directory = '/root/.nym/mixnodes'
private_identity_key_file = '/root/.nym/mixnodes/mixer/data/private_identity.pem'
public_identity_key_file = '/root/.nym/mixnodes/mixer/data/public_identity.pem'
private_sphinx_key_file = '/root/.nym/mixnodes/mixer/data/private_sphinx.pem'
public_sphinx_key_file = '/root/.nym/mixnodes/mixer/data/public_sphinx.pem'
[logging]
